@model TaskVariantViewModel

@{
    ViewData["Title"] = "Variant - " + Model.Name;
    bool isAdmin = User.IsInRole(RoleNames.Admin);
}

<h2>Variant: @Model.Name</h2>

<div class="well">@Html.Raw(Model.Description)</div>

@if (isAdmin)
{
    <a asp-controller="TaskVariant" asp-action="AddAssignments" asp-route-id="@Model.Id" class="btn btn-default">
        Add or remove assignments (@Model.AssignmentsCount)
    </a>
    <br/>
    <br/>
    <a asp-controller="Assignment" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-default">View assignments</a>
}