@model TaskVariantViewModel

@{
    ViewData["Title"] = "Variant - " + Model.Name;
}

<h2>
    <a asp-controller="Course" asp-action="View" asp-route-id="@Model.CourseId">@Model.CourseName</a> /
    <a asp-controller="TaskGRoup" asp-action="View" asp-route-id="@Model.TaskGroupId">@Model.TaskGroupName</a> / @Model.Name
</h2>

<div class="well">
    @Html.Raw(Model.Description)
</div>

<div class="btn-group">
    @if (Model.IsAssigned)
    {
        <a asp-controller="Assignment" asp-action="View" asp-route-id="@Model.Id" class="btn btn-default">View your assignment</a>
    }
    <a asp-controller="Assignment" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-default">View assignments</a>
    @if (Model.IsUserTeacher)
    {
        <a asp-controller="TaskVariant" asp-action="AddAssignments" asp-route-id="@Model.Id" class="btn btn-default">
            Add or remove assignments (@Model.AssignmentsCount)
        </a>
        <a asp-controller="TaskVariant" asp-action="Create" asp-route-id="@Model.TaskGroupId" asp-route-taskVariantId="@Model.Id" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Edit TaskGroup</a>
    }
</div>