@model KaCake.ViewModels.Course.CourseViewModel

@{
    ViewData["Title"] = "View";
    bool isAdmin = User.IsInRole(RoleNames.Admin);
}

<h2>Course: @Model.Name</h2>

<div class="well">@Model.Description</div>

@if (isAdmin)
{
    <a asp-controller="TaskGroup" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-default">Add task group</a>
}

<h4>Tasks (@Model.TaskGroups.Count):</h4>
<div class="list-group">
    @foreach (var taskGroup in Model.TaskGroups)
    {
        <a asp-controller="TaskGroup" asp-action="View" asp-route-id="@taskGroup.Id" class="list-group-item">@taskGroup.Name</a>
    }
</div>
